<!DOCTYPE html>
<html>
  <head>
    <title>My-Study</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jQuery', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "My-Study", root_path, class: "header__title--text" %>
      </div>
      <div class="header__right">
        <% if user_signed_in? %>
            <div class="header__right--btn--name">
              ユーザー:
              <%= link_to (current_user.nickname), user_path(current_user), class: "header__right--btn--name--link"%>
            </div>
            <%= link_to "新規投稿", new_post_path, class: "header__right--btn" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
        <% else %>
          <div class="header__right--btn--name">
            ユーザー: 未登録
          </div>
          <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
          <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
        <% end %>
      </div>
    </header>
    <div class="contents">
      <%= yield %>
    </div>
    <div class="about_btn">
      <div class="about_btn__txt">
        about
      </div>
    </div>
    <div class="modal-wrapper">
      <div class="modal">
        <h2>My-Study</h2>
        <h3>あなただけの学習の足跡を残してみましょう!</h3>
        まるでノートに書いていくような<br>
        シンプルデザインのブログアプリです<br>
        毎日の記録や過去の振り返りにお役立てください
        <i class="fa fa-2x fa-times"></i>
      </div>
    </div>
  </body>
</html>
